    
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Demo</title>
        <script src="/jquery.js"></script>
        <script src="/peer.js"></script>
     </head>
    <body>
        <video id="localStream" width="300" controls></video>
        <br /><br />
        <label id="my-peer">Peer Id:</label>
        <br /><br />
        <input type="button" value="Open" id="btnOpenStream" />
    </body>
    <script src="/main.js"></script>
</html>