<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery.js"></script>
    <script src="/peer.js"></script>
    <title>Document</title>
</head>
<body>
    <video id="remoteStream" height="400" width="600" controls poster="/img/iu.jpg" ></video>
    <br /><br />
    <input type="button" value="watch" id="btnWatchStream" />
    <input type="input" id="watchStream" />
    <script src="/main2.js"></script>
</body>
</html>